# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FPT Polytechnic\SPRING2023\SOF3011_Java4\BTINCLASS\BTVNBuoi10\Buoi10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
